<div>
    <button
        class="bg-transparent hover:bg-blue-500 mb-5 text-blue-700 font-semibold text-sm sm:text-base hover:text-white py-1 px-2 sm:py-2 sm:px-4 border border-blue-500 hover:border-transparent rounded"
        (click)="uploadImageDialog()">
        Upload Image
    </button>
</div>
<div class="h-[calc(100vh_-_280px)] overflow-y-scroll" infiniteScroll [infiniteScrollDistance]="appConst.scrollDistance"
    [infiniteScrollUpDistance]="appConst.scrollUpDistance" [infiniteScrollThrottle]="appConst.throttle"
    [scrollWindow]="false" (scrolled)="onScroll()">

    @if (imageList.length > 0) {
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        @for (item of imageList; track item) {
        <app-image-card [imageData]="item" (dialogTrigger)="viewDialog($event)" />
        }
    </div>
    }
    @if(isEmpty && !isLoading) {
    
        <div class="text-center pt-24">
            No Record Found
        </div>
    
    }
    @if (isLoading) {
    <app-skeleton-loader [skeletonData]="skeletonData"/>
    }
</div>