<div class="relative">
    <span class="absolute top-2 right-2 text-gray-50 text-xs cursor-pointer" (click)="onViewImage(imageData)">
        <mat-icon>remove_red_eye</mat-icon>
    </span>
    <div class="h-32 sm:h-40 md:h-40 lg:h-52 w-full">
        @if (isLoading) {
        <ng-template class="h-full w-full  max-w-full rounded-t-lg">
            <app-skeleton-loader [skeletonData]="skeletonData" />
        </ng-template>
        
        }
        <img class="h-full w-full  max-w-full rounded-t-lg" (load)="onImageLoad()" src="{{imageData.uploadFile}}"
            alt="{{imageData.title}}">
    </div>

    <div class="p-2 sm:p-4 bg-gray-800 bg-opacity-75 text-white rounded-b-lg">
        <p class="text-xs sm:text-sm md:text-base lg:text-lg font-semibold mb-2">{{imageData.title}}</p>
        <div class="flex flex-wrap gap-2 justify-end">
            <!-- <ng-container *ngFor="let tagName of item.tags">
            <span class="inline-block bg-gray-600 text-white px-2 py-1 text-sm rounded">{{tagName}}</span>
        </ng-container> -->
            <span class="inline-block  text-gray-400  text-xs">2 Views</span>
            <!-- <span class="inline-block  text-white  text-xs sm:text-sm md:text-base lg:text-lg rounded">Created at:10/10/10000</span> -->
        </div>
    </div>
</div>